/ECECAR/cmake-build-debug/
cmake-build-debug
ECECAR/cmake-build-debug/.cmake/
ECECAR/cmake-build-debug/Testing/
ECECAR/cmake-build-debug/CMakeFiles/
ECECAR/cmake-build-debug/Testing/Temporary/LastTest.log
.idea
.DS_Store
*.log
*.txt
